.btn{
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
}

.btn button {/*Các button nằm trong btn*/
    background-color: #e0e0e0;
    font-size: 1.5rem;
    /*margin: 0 1px 0 0;*/
    flex: auto;
    border:  0; /*Bỏ viền của button*/
}
