* {
  box-sizing:border-box;
}
.left, .main, .right {
	padding:20px;
 	float:left;
}

.left {
  background-color:#2196F3;
  width: 20%;
   /* The width is 20%, by default */
}

.main {
  background-color:#f1f1f1;
  width : 60%;
  /* The width is 60%, by default */
}
.right {
  background-color:#4CAF50;
  width : 20%;
   /* The width is 20%, by default */
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}